<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Codecool Shop</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/custom.css" />
</head>

<body>

    <div class="jumbotron text-center">
        <h1>Codecool Shop</h1>
    </div>

    <div class="container shopping-cart">
        <div id="back" class="item col-xs-14 col-lg-14">
            <a  href="/index" class="btn btn-info">Back</a>
        </div>
        <div id="checkout" class="item col-xs-14 col-lg-14">
            <a  href="/checkout" class="btn btn-warning">Checkout</a>
        </div>
        <div id="products" class="row list-group">
            <div class="item col-xs-12 col-lg-12" th:each="lineitem : ${lineitems}">
                <div class="thumbnail">
                    <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" th:attr="src='/img/product_' + ${lineitem.getProduct().id} + '.jpg'" alt="" />
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading" th:text="${lineitem.getProduct().name}">Product name</h4>
                        <p class="group inner list-group-item-text" th:text="${lineitem.getProduct().description}">Product description... </p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p class="lead" th:text="${lineitem.getProduct().getPrice()}">100 USD</p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <button class="btn btn-default increase-quantity" th:attr="id=${lineitem.getProduct().getId()}">+</button>
                                <!--<span th:text="${product.quantity}"></span>-->
                                <span class="product-qty">  quantity  </span>
                                <button class="btn btn-warning remove-product" th:attr="id=${lineitem.getProduct().getId()}">-</button>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div>Total price come here</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div th:replace="footer :: copy"></div>

</body>
</html>